---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, fellow addict</h1>
			<p>
				Welcome to the official Audio Video Addicts website. This
				site serves as a placeholder, while we build the rest of the website.
			</p>
			<p>
				We are an Audio, Video, and Lighting Services company, focused on nightclubs, events, and films.
				We provide any and all tech services, simply get in contact at admin@avaddicts.com.au with your problem,
				and we'll do our best to solve it!
			</p>
			<p>Here are a few ideas on problems you might need solved</p>
			<ul>
				<li>I have a venue but don't know how to run the tech</li>
				<li>I want to throw an event but don't know where to start with Audio and Lighting</li>
				<li>I need microphones and speakers for a speech / conference</li>
				<li>I play in a band and want an awesome light show</li>
				<li>I want my event filmed and streamed</li>
			</ul>
			<p>
				Let us know how we can help!
			</p>
			<p>
				:p
			</p>
		</main>
		<Footer />
	</body>
</html>
